<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <!-- For part2/lab3/task1 package -->
<!--        <Console name="ConsoleAppender" target="SYSTEM_OUT">-->
<!--            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %logger{36} - %msg%n" />-->
<!--        </Console>-->
        <File name="Task1FileAppender" fileName="src/main/resources/part2/lab3/task1/MetroStation-${date:yyyy-MM-dd}.log" immediateFlush="false" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %logger{36} - %msg%n"/>
        </File>

        <!-- For root-->
        <File name="FileAppender" fileName="src/main/resources/part2/LogFile-${date:yyyy-MM-dd}.log" immediateFlush="false" append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %logger{36} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <!-- Logger for part2/lab3/task1 package -->
        <Logger name="part2.lab3.task1" level="info" additivity="false">
            <AppenderRef ref="Task1FileAppender"/>
        </Logger>

        <!-- Root logger-->
        <Root level="error">
<!--            <AppenderRef ref="ConsoleAppender" />-->
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>
</Configuration>